<nav class="academic-nav">
  <a href="{% url 'academic_dashboard' %}">Overview</a>
  <a href="{% url 'department_list' %}">Departments</a>
  <a href="{% url 'course_list' %}">Courses</a>
  <a href="{% url 'enrollment_list' %}">Enrollments</a>
  <a href="{% url 'assignment_list' %}">Assignments</a>
  <a href="{% url 'attendance_list' %}">Attendance</a>
  <a href="{% url 'result_list' %}">Results</a>
  <a href="{% url 'fee_list' %}">Fees</a>
  <a href="{% url 'routine_list' %}">Routine</a>
  <a href="{% url 'bus_card_list' %}">Bus Cards</a>
  <a href="{% url 'notice_list' %}">Notices</a>
</nav>
